@font-face {
  font-family: "GloriaHallelujah";
  src: url(../fuentes/GloriaHallelujah.ttf);
}

@font-face {
  font-family: "Latinia";
  src: url(../fuentes/Latinia.ttf);
}

@font-face {
  font-family: "OpenSans";
  src: url(../fuentes/OpenSans.ttf);
}

article, body, html, ul, nav, h2, section {
  font-family: "OpenSans";
  margin: 0;
  padding: 0;
}

footer{
  text-align: center;
}

label{
  margin: 0;
  display: inline-block;
  padding: 0
  widows: 25%;
}

nav{
  padding: 8px;
}

nav a{
  width: 20%;
  text-align: center;
  text-decoration: none;
  padding: 1em 3em;
  /*background-color: rgba(95,141,211,0.5);*/
  /*font-size: 1.5em;*/
  box-shadow: 5px 5px 5px;
  border-radius: 1em;
  margin: 6px;
  color: black;
}

nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

nav li{
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

nav ul li a:hover{
  width: 10%;
  text-align: center;
  text-decoration: none;
  padding: 1em 3em;
  margin: 0 5px 1px 0;
  font-weight: 600;
  color: black;
  background-color: rgba(95,141,211,0.7);
  border-radius: 1em;
}

video{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

#cabeceraPortada{
  display: inline-flex;
  /*height: 50%;*/
  width: 100%;

}

#formulario{
  margin: 0;
  padding: 0;
  background-image: url(../imagenes/fondoLogin.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 80%;
  /*box-shadow: -5px 6px 5px rgba(95,141,211,0.5);*/
  /*height: 400px;*/
}

#formulario h2{
  text-align: center;
  padding-bottom: 3em;
}

#formulario input {
  display: block;
  /*position: relative;*/
  /*direction: ltr;*/
  clear: both;
  margin: 0;
  height: 10px;
  width: 15em;
  padding: 5px 8px;
  border-radius: 0.5em;
}

#formulario li{
padding-bottom: 2em;
}

#formulario li label, #formulario li input{
  margin: 0.5em;
  display: inline-block;
  width: auto;
  /*vertical-align: top;*/
}

#formulario ul{
  list-style: none;
  /*display: inline-flex;*/
}

#ingreso{
  margin: 1em;
  padding: 0.5em 1em;
  display: block;
  margin: 0 auto;
  border-radius: 0.5em;
 }

 #login{
   width: 28%;
 }

 /*#logo{
   width: 15%;
 }*/

#portada{
  margin: 0;
  padding: 0;
  width: 68%;
}

#portada, #login{
  display: inline-block;
  vertical-align: top;
}

#servicios{
  width: 20%;
}

#productos, #tarjetas{
  box-shadow: 5px 6px 5px rgba(95,141,211,0.9);
  border-radius: 0.5em;
  margin-left: 3em;
}

#servicios li{
  list-style: none;
}

/*#tarjetas{
  box-shadow: 5px 6px 5px rgba(95,141,211,0.5);
}*/

#servicios, #noticias{
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
}

.contenedorPortada{
  width: 65%;
}

.espacioSuperior{
  background-image: url(../imagenes/Logo.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top right;
}

.formulario{
  text-align: center;
}

.noticias-cnt {
  margin: 0 0 0 1.5em;
  padding: 1em 0;
  width: auto;
  display: -webkit-flex;
  display: flex;
  background-color: ligthgrey;

}

.noticias-cnt div{
  width: 100%;
  padding: 0.5em;
}

.productos{
  margin-bottom: 2em;
}

.tituloSeccion{
  font-family: "Latinia";
  color: rgba(95,141,211,1);
}

.videoPortada{
  position: relative;
  margin-right: 1px;
  width: 100%;
}
